<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-left">
          <span class="titulo">{{titulo | uppercase}}</span>
          <form class="mt-3" [formGroup] = "productoForm" (ngSubmit) = "agregarProducto()"> <!--//It connects with the form at crear-producto.component.ts-->
            <div class="row">
              <div class=" col-6 mb-3">
                <label>Nombre</label>
                <input formControlName="nombre" type="text" class="form-control form-control-lg"> 
                <div class="text-danger" *ngIf="productoForm.get('nombre')?.hasError('required')
                && productoForm.get('nombre')?.touched">
                  <span>El nombre <strong>es obligatorio</strong></span>
                </div>
              </div>
              <div class=" col-6 mb-3">
                <label>Ubicación</label>
                <input formControlName="ubicacion" type="text" class="form-control form-control-lg">
                <div class="text-danger" *ngIf="productoForm.get('ubicacion')?.hasError('required')
                && productoForm.get('ubicacion')?.touched">
                  <span>La ubicación <strong>es obligatoria</strong></span>
                </div>
              </div>
            </div>
           <div class="row">
            <div class="col-6 mb-3">
              <label>Categoría</label>
              <input formControlName="categoria" type="text" class="form-control form-control-lg">
              <div class="text-danger" *ngIf="productoForm.get('categoria')?.hasError('required')
              && productoForm.get('categoria')?.touched">
                <span>La categoria <strong>es obligatoria</strong></span>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label>Precio</label>
              <input formControlName="precio" type="number" class="form-control form-control-lg">
              <div class="text-danger" *ngIf="productoForm.get('precio')?.hasError('required')
              && productoForm.get('precio')?.touched">
                <span>El precio <strong>es obligatorio</strong></span>
              </div>
            </div>
           </div>
           
            <div class="mb-3">
                <button class="btn btn-secondary btn-lg float-start"routerLink="/">VOLVER</button>
                <button [disabled]="productoForm.invalid" type="submit" class="btn btn-success btn-lg float-end">ACEPTAR</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
